@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

h1 {
    font-weight: 700;
    font-style: normal;
    font-family: "Merriweather", serif;
    text-transform: capitalize;
}

menu {
    padding: 12px 0;
}

.icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid black;
}

.share {
    max-width: 530px;
    width: 100%;
    margin: 24px auto;
}

.logo {
    width: 48px;
}

.center {
    text-align: center;
}